<!DOCTYPE html>
<html lang="ru">
<!-- Russia one love) -->
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>

   <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
</head>
<body>

   <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>